/* src/index.css */
@import "tailwindcss";



/* Tailwind öncesi genel reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  @apply bg-gradient-to-br from-purple-400 via-pink-300 to-blue-400;
}
